[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
fuzzywuzzy = "*"
Mesa = "*"
python-Levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.7"
